@charset "UTF-8";

.wrap > form {
    width: 500px;
    margin: 100px auto 0;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 15px;
}
/* 입력 패널 */
.input-fld-pnl {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 500px;
    padding: 10px 0;    
    font-size: 1em;
}

/* 라벨(공통) */
label {

    /* 플렉스 박스 형태, 세로 가운데 정렬
       길이 100 픽셀, 내부간격 상하 0 좌우 10픽셀 */
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100px;
    padding: 0 10px;
    
}

/* 
   필드 아이콘 
   : class = icon-fld
   글자색 : #333, 글꼴 크기 : 1em
*/
.icon-fld{
    color: #333;
    font-size: 1em;
}



/*  텍스트 라벨 */
.txt-label {
    /* padding: 10px 0 10px 10px; */
}

/* 
    입력 필드(요소) 
    : class = input-fld

    테두리 굵기 : 2픽셀,
    테두리 형태 : 실선,
    테두리 색 : #ccc,
    테두리 굴곡 : 10픽셀,
    너비 : 300픽셀,
    높이 : 35픽셀,
    왼쪽 간격 : 20픽셀,
    내부간격 : 상하 0, 좌우 10픽셀
*/
.input-fld{
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 300px;
    height: 35px;
    padding: 0 10px;
    margin-left: 20px;
}


/* 입력 필드(요소) 및 textarea : focus */
.input-fld:focus, #content:focus {
    
    /* 여기서 외곽선 색은 border-color가 아닌 
    outline-color 로 적용할 것 */
    outline-color: #60C5F1;    
}    

/* 상담 내용 문단 필드 */
#content {

    /* 
        textarea 필드 프레임 크기조절 방지,
        테두리 굵기 : 2픽셀,
        테두리 형태 : 실선,
        테두리 색 : #ccc,
        테두리 굴곡 : 10픽셀,

        왼쪽 외부간격 : 20픽셀,
        왼쪽 내부간격 : 10픽셀,

        너비 : 300픽셀,
        높이 : 200픽셀,

        내부간격 : 10픽셀(상하좌우)
    */    
    resize: none;
    outline: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20px;
    width: 300px;
    height: 200px;
}

.input-fld-pnl:last-child{
    justify-content: right;
    width: 490px;
    gap: 10px;
}

#reset, #submit{
    font-size: 1.1em;
}